/*
 * DTS File for HiSilicon Poplar Development Board
 *
 * Copyright (c) 2016-2017 HiSilicon Technologies Co., Ltd.
 *
 * Released under the GPLv2 only.
 * SPDX-License-Identifier: GPL-2.0
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include "hi3798cv200.dtsi"

/ {
	model = "HiSilicon Poplar Development Board";
	compatible = "hisilicon,hi3798cv200-poplar", "hisilicon,hi3798cv200";

	aliases {
		serial0 = &uart0;
		serial2 = &uart2;
	};

	chosen {
		stdout-path = [00];
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x80000000>;
	};
};

&gmac1 {
	status = "okay";
    phy-mode = "rmii"; 
    phy-handle = <&eth_phy1>;

    /* 必须显式处理复位 */
    resets = <&crg 0xcc 9>, <&crg 0xcc 11>;
    reset-names = "mac_core", "mac_ifc";

    hisilicon,phy-reset-delays-us = <10000 10000 30000>;
    hisilicon,phy-reset-gpio = <&gpio0 0 1>; /* 1 表示低电平复位 */

    eth_phy1: phy@1 {
        reg = <1>;
    };
};

&uart2 {
	status = "okay";
	label = "LS-UART0";
};

&usb2 {
	status = "okay";
};

